@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <button id="press"> Press me </button>
</div>

<script>
    // Get the button element
    var button = document.getElementById("press");

    // Add an event listener to the button
    button.addEventListener("click", function() {
        fetch('/Home/GetFeedFromNasa/')
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });
    });
</script>